
  
  .swiper {
    width: 100%;
    height: auto;
  }
  
  .swiperslide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiperslide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  