.photoframe, .photoframeMj{
    border: 4px solid silver;
    justify-content: center;
   text-align: center;
   position: relative;
   border-radius: 50%;
   height:200px;
   width:200px;
   padding-bottom: 12px;
    padding-top: 12px;
}
.photoframeMj{
    top:-583px;
    
}

.photo{
    border-radius: 50%;
   
}
.partypage{
    text-align: center;
    position: relative;
    
   
}

.guysandgirls{
    display: flex;
    border:double 8px silver;
    justify-content: center; /* Centers horizontally */ 
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    
   
}
@media only screen and (max-width: 450px) {
    .guysandgirls{
        display:block;
        position:relative;
        justify-content: center; /* Centers horizontally */ 
        justify-items: center;
    }
   
    .photoframeMj{
        position:relative;
        top:0px;
    }
}
