.page{
    
    display: flex;
    border:4px solid silver;
    justify-content: center; /* Centers horizontally */ 
    align-items: center;
    position: relative;
}
.photo{
    width:400px;
    
}
.ourstory{
    text-align: justify;
    width: 100%;
}
.frame{
    align-content: center;
    position: relative;
    padding-left: 50%;
    padding-right: 50%;
    margin-top: 12px;
    box-sizing: border-box;
    
}

@media screen and (max-width: 500px) {
    /* Add your styles here to adjust for iPhone-sized screens */
    .photo{
     width:300px;
    }
     
    
    /* Add any other styles needed to fit iPhone displays */
  }